<nav class="flex justify-between space-x-2 items-start border-b border-gray-400 mb-8">
  <%= tag.div tabs,  class: "flex -mb-px space-x-2" %>
  <%= tag.div extra, class: "flex -mb-px space-x-2" if extra.present? %>
</nav>
